*, *::before, *::after {

  -webkit-box-sizing: border-box;
  box-sizing: border-box;

}

*:before, *:after {

  content: '';

}

html, body {

  margin: 0px;
  padding: 0px;

}

body {

  background: #16181C;
